# Joining Data with SQL

Here you can access every table used in the course. To access each table, you will need to specify the `world` schema in your queries (e.g., `world.countries` for the `countries` table, and `world.languages` for the `languages` table).

--- 
_Note: When using sample integrations such as those that contain course data, you have read-only access. You can run queries, but cannot make any changes such as adding, deleting, or modifying the data (e.g., creating tables, views, etc.)._

In [ ]:
CREATE TABLE employees (
    id SERIAL PRIMARY KEY,
    name VARCHAR(50),
    age INTEGER
);

INSERT INTO employees (name, age)
VALUES (1,'FAVOUR ANEIKAN MONDAY'),
(2,'JOY HENRY BASSEY'),
(3,'DESTINY MONDAY'),
(4,'IMA-OBONG MONDAY'),
(5,'GOODNEWS EKWERE NYONG'),
(6,'ABASIKPONGKE FOUNTAIN OTO-ABASI'),
(7,'PRAISE-GOD KELVIN SMITH'),
(8,'PRECIOUS JOHNSON EKPEIKOT'),
(9,'BRIGHT GOSPEL EFFIONG'),
(10,'PRECIOUS ETTE-OBONG WILSON'),
(11,'VICTORY ELIJAH'),
(12,'FAVOUR SHEDRACH YOUNG'),
(13,'EMEM I. MONDAY'),
(14,'BLESSING A. EDEM'),
(15,'FAVOUR MARK EDEM'),
(16,'FELICIA MARK EDEM'),
(17,'PRINCE MARK EDEM'),
(18,'EDIDIONG ISAIAH DICKINSON'),
(19,'GOD''S POWER ANIEKAN UWAH'),
(20,'RAYMOND ANIEKAN UWAH'),
(21,'KENDRICK ANIEKAN UWAH'),
(22,'SUCCESS SHEDRACH YOUNG'),
(23,'GOD''S FAVOUR UBONG ESSIEN'),
(24,'SOLUTION UBON IME'),
(25,'RUTH IKE'),
(26,'ESTHER IKE'),
(27,'GOD''SWILL ANIEFIOK OBONG'),
(28,'UTIBE-ABASI OSARO EKPESIDEM'),
(29,'VINCENT UMOH ARCHIBONG'),
(30,'ABASI-AMA EDEM AKPAN'),
(31,'ENO-ABASI ANIEFIOK OBONG'),
(32,'ELIJAH ANTHONY UDOH'),
(33,'JOSEPH AKPAN'),
(34,'SUCCESS EMMANUEL'),
(35,'DIVINE PETER EYO'),
(36,'KINGSLEY PIUS');

In [104]:
SELECT region, ROUND(AVG(gdp_percapita)::numeric, 2) AS avg_gdp
FROM world.countries AS c
LEFT JOIN world.economies AS e
USING(code)
WHERE year = 2010
GROUP BY region
ORDER BY avg_gdp DESC
LIMIT 5;

                      region   avg_gdp
0             Western Europe  58130.96
1           Nordic Countries  57074.00
2              North America  47911.51
3  Australia and New Zealand  44792.38
4            British Islands  43588.33

In [ ]:
-- Query a variable:
-- SELECT * FROM df
--
-- Query a CSV file:
-- SELECT * FROM 'data.csv'

This was a code to "You will use AVG() in combination with a LEFT JOIN to determine the average gross domestic product (GDP) per capita by region in 2010"

In [105]:
SELECT name AS country, code, region, basic_unit
FROM world.countries
-- Join to currencies
FULL JOIN world.currencies 
USING (code)
-- Where region is North America or name is null
WHERE countries.region = 'North America'
    OR name IS NULL
ORDER BY region;

          country code         region              basic_unit
0         Bermuda  BMU  North America        Bermudian dollar
1   United States  USA  North America    United States dollar
2          Canada  CAN  North America         Canadian dollar
3       Greenland  GRL  North America                    None
4            None  TMP           None    United States dollar
5            None  FLK           None  Falkland Islands pound
6            None  HKG           None        Hong Kong dollar
7            None  AIA           None   East Caribbean dollar
8            None  NIU           None      New Zealand dollar
9            None  ROM           None            Romanian leu
10           None  SHN           None      Saint Helena pound
11           None  SGS           None           British pound
12           None  TWN           None       New Taiwan dollar
13           None  WLF           None               CFP franc
14           None  MSR           None   East Caribbean dollar
15           None  IOT           None    United States dollar
16           None  CCK           None       Australian dollar
17           None  COK           None      New Zealand dollar

In [106]:
-- CHAINING JOINS
SELECT 
	c1.name AS country, 
    region, 
    l.name AS language,
	basic_unit, 
    frac_unit
FROM world.countries as c1 
-- Full join with languages (alias as l)
FULL JOIN world.languages AS l
USING(code)
-- Full join with currencies (alias as c2)
FULL JOIN world.currencies AS c2
USING(code)
WHERE region LIKE 'M%esia';

                            country  ... frac_unit
0                          Kiribati  ...      Cent
1                          Kiribati  ...      Cent
2                  Marshall Islands  ...      Cent
3                  Marshall Islands  ...      Cent
4                             Nauru  ...      Cent
5                             Nauru  ...      Cent
6                             Nauru  ...      Cent
7                     New Caledonia  ...   Centime
8                     New Caledonia  ...   Centime
9                             Palau  ...      Cent
10                            Palau  ...      Cent
11                            Palau  ...      Cent
12                            Palau  ...      Cent
13                            Palau  ...      Cent
14                            Palau  ...      Cent
15                 Papua New Guinea  ...      Toea
16                 Papua New Guinea  ...      Toea
17                 Papua New Guinea  ...      Toea
18                 Papua New Guinea  ...      Toea
19                  Solomon Islands  ...      Cent
20                  Solomon Islands  ...      Cent
21                  Solomon Islands  ...      Cent
22                          Vanuatu  ...
23                          Vanuatu  ...
24                          Vanuatu  ...
25                          Vanuatu  ...
26                          Vanuatu  ...
27  Micronesia, Federated States of  ...      None
28  Micronesia, Federated States of  ...      None
29  Micronesia, Federated States of  ...      None
30  Micronesia, Federated States of  ...      None
31  Micronesia, Federated States of  ...      None
32  Micronesia, Federated States of  ...      None
33  Micronesia, Federated States of  ...      None
34  Micronesia, Federated States of  ...      None
35  Micronesia, Federated States of  ...      None
36                     Fiji Islands  ...      None
37         Northern Mariana Islands  ...      None
38         Northern Mariana Islands  ...      None
39         Northern Mariana Islands  ...      None
40         Northern Mariana Islands  ...      None
41         Northern Mariana Islands  ...      None
42         Northern Mariana Islands  ...      None
43         Northern Mariana Islands  ...      None
44                             Guam  ...      None
45                             Guam  ...      None
46                             Guam  ...      None
47                             Guam  ...      None
48                             Guam  ...      None
49                             Guam  ...      None

[50 rows x 5 columns]

In [107]:
SELECT code, e.year
FROM world.economies AS e
UNION
SELECT p.country_code, p.year
FROM world.populations AS p

    code  year
0    ALB  2010
1    ERI  2010
2    TKM  2015
3    SWE  2015
4    EST  2010
..   ...   ...
429  CHE  2015
430  EGY  2010
431  CRI  2015
432  THA  2015
433  LCA  2015

[434 rows x 2 columns]

In [109]:
-- SELECT IN SELECT
-- This code counts the number of citites in a country (I saved this code to highlight how subqueries can be included in the SELECT statement
SELECT countries.name AS country,
-- Subquery that provides the count of cities   
  (SELECT COUNT(*)
   FROM world.cities
   WHERE cities.country_code = countries.code) AS cities_num
FROM world.countries
ORDER BY cities_num DESC, country
LIMIT 9

              country  cities_num
0               China          36
1               India          18
2               Japan          11
3              Brazil          10
4            Pakistan           9
5       United States           9
6           Indonesia           7
7  Russian Federation           7
8         South Korea           7

In [110]:
-- SAMPLE OF SUB-QUERIES IN FROM CLAUSE
-- Query to return continents with monarchs and the year the most recent country gained independence
SELECT DISTINCT monarchs.continent, sub.most_recent
FROM world.monarchs,
(SELECT
continent,
MAX(indep_year) AS most_recent
FROM world.states
GROUP BY continent) AS sub
WHERE monarchs.continent = sub.continent
ORDER BY continent;

  continent  most_recent
0      Asia         1984
1    Europe         1905

In [111]:
-- SELECT IN FROM
-- Determining the number of languages spoken for each country. You want to present this information alongside each country's local_name, which is a field only present in the countries table and not in the languages table.
SELECT local_name, sub.lang_num
FROM world.countries,
  (SELECT code, COUNT(*) AS lang_num
  FROM world.languages
  GROUP BY code) AS sub
-- Where codes match
WHERE countries.code = sub.code
ORDER BY lang_num DESC;

                  local_name  lang_num
0                     Zambia        19
1                YeItyop´iya        16
2                   Zimbabwe        16
3                      Nepal        14
4               Bharat/India        14
..                       ...       ...
193                     Cuba         1
194                 Colombia         1
195                Nederland         1
196  Al-´Arabiya as-Sa´udiya         1
197               San Marino         1

[198 rows x 2 columns]

In [112]:
-- SUBQUERIES IN WHERE statements
-- Determining inflation rate and unemployment rate for countries which doesn't belong to the republic or monarchy form of government
SELECT code, inflation_rate, unemployment_rate
FROM world.economies
WHERE year = 2015 
  AND code NOT IN
-- Subquery returning country codes filtered on gov_form
	(SELECT code
  FROM world.countries
  WHERE gov_form LIKE '%Republic%' OR 
    gov_form LIKE '%Monarchy%'
  )
ORDER BY inflation_rate;

   code  inflation_rate  unemployment_rate
0   AFG          -1.549                NaN
1   CHE          -1.140              3.178
2   PRI          -0.751             12.000
3   ROU          -0.596              6.812
4   TLS           0.553                NaN
5   MNE           1.204                NaN
6   SRB           1.392             18.200
7   HKG           3.037              3.296
8   ARE           4.070                NaN
9   MAC           4.564              1.825
10  LBY           9.839                NaN
11  SSD          52.813                NaN

In [9]:
WITH teens AS (SELECT * FROM read_csv('teens.csv', delim='|', header=True, columns={'names': 'VARCHAR'})
			   )
SELECT names,
	ROW_NUMBER() OVER() AS serial_num
FROM teens
ORDER BY serial_num;

                              names  serial_num
0             FAVOUR ANEIKAN MONDAY           1
1                  JOY HENRY BASSEY           2
2                    DESTINY MONDAY           3
3                  IMA-OBONG MONDAY           4
4             GOODNEWS EKWERE NYONG           5
5   ABASIKPONGKE FOUNTAIN OTO-ABASI           6
6           PRAISE-GOD KELVIN SMITH           7
7         PRECIOUS JOHNSON EKPEIKOT           8
8             BRIGHT GOSPEL EFFIONG           9
9        PRECIOUS ETTE-OBONG WILSON          10
10                   VICTORY ELIJAH          11
11            FAVOUR SHEDRACH YOUNG          12
12                   EMEM I. MONDAY          13
13                 BLESSING A. EDEM          14
14                 FAVOUR MARK EDEM          15
15                FELICIA MARK EDEM          16
16                 PRINCE MARK EDEM          17
17        EDIDIONG ISAIAH DICKINSON          18
18         GOD'S POWER ANIEKAN UWAH          19
19             RAYMOND ANIEKAN UWAH          20
20            KENDRICK ANIEKAN UWAH          21
21           SUCCESS SHEDRACH YOUNG          22
22        GOD'S FAVOUR UBONG ESSIEN          23
23                SOLUTION UBON IME          24
24                         RUTH IKE          25
25                       ESTHER IKE          26
26         GOD'SWILL ANIEFIOK OBONG          27
27      UTIBE-ABASI OSARO EKPESIDEM          28
28           VINCENT UMOH ARCHIBONG          29
29             ABASI-AMA EDEM AKPAN          30
30         ENO-ABASI ANIEFIOK OBONG          31
31              ELIJAH ANTHONY UDOH          32
32                     JOSEPH AKPAN          33
33                 SUCCESS EMMANUEL          34
34                 DIVINE PETER EYO          35
35                    KINGSLEY PIUS          36

In [1]:
CREATE TABLE employees (
    id INTEGER GENERATED ALWAYS AS IDENTITY,
	name VARCHAR(50),
	PRIMARY KEY (id)
);
INSERT INTO employees (name)
VALUES ('FAVOUR ANEIKAN MONDAY'),
('JOY HENRY BASSEY'),
('DESTINY MONDAY'),
('IMA-OBONG MONDAY'),
('GOODNEWS EKWERE NYONG'),
('ABASIKPONGKE FOUNTAIN OTO-ABASI'),
('PRAISE-GOD KELVIN SMITH'),
('PRECIOUS JOHNSON EKPEIKOT'),
('BRIGHT GOSPEL EFFIONG'),
('PRECIOUS ETTE-OBONG WILSON'),
('VICTORY ELIJAH'),
('FAVOUR SHEDRACH YOUNG'),
('EMEM I. MONDAY'),
('BLESSING A. EDEM'),
('FAVOUR MARK EDEM'),
('FELICIA MARK EDEM'),
('PRINCE MARK EDEM'),
('EDIDIONG ISAIAH DICKINSON'),
('GOD''S POWER ANIEKAN UWAH'),
('RAYMOND ANIEKAN UWAH'),
('KENDRICK ANIEKAN UWAH'),
('SUCCESS SHEDRACH YOUNG'),
('GOD''S FAVOUR UBONG ESSIEN'),
('SOLUTION UBON IME'),
('RUTH IKE'),
('ESTHER IKE'),
('GOD''SWILL ANIEFIOK OBONG'),
('UTIBE-ABASI OSARO EKPESIDEM'),
('VINCENT UMOH ARCHIBONG'),
('ABASI-AMA EDEM AKPAN'),
('ENO-ABASI ANIEFIOK OBONG'),
('ELIJAH ANTHONY UDOH'),
('JOSEPH AKPAN'),
('SUCCESS EMMANUEL'),
('DIVINE PETER EYO'),
('KINGSLEY PIUS');

Error: Not implemented Error: Constraint not implemented!

In [7]:
--Sample for table creation
SELECT * FROM ( VALUES
('Iron Man', 'Tony Stark', 45, '', 'A'),
('Black Widow', 'Natasha Romanov', 38, '', 'D'),
('Hawkeye', 'Clint Barton', 46, 175.2, 'I'))
AS avengers (moniker, name, age, weight, status)

       moniker             name  age weight status
0     Iron Man       Tony Stark   45             A
1  Black Widow  Natasha Romanov   38             D
2      Hawkeye     Clint Barton   46  175.2      I